In [46]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
csv_path = "data/fifa_ranking_2020_11_26.csv"

df_fifa_data = pd.read_csv(csv_path)

df_fifa_data.head()

,id,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,43948,1,Germany,GER,57,0,0,UEFA,1992-12-31
1,43873,107,Mozambique,MOZ,9,0,0,CAF,1992-12-31
2,43816,108,Indonesia,IDN,9,0,0,AFC,1992-12-31
3,1882218,109,Antigua and Barbuda,ATG,8,0,0,CONCACAF,1992-12-31
4,43820,110,Jordan,JOR,8,0,0,AFC,1992-12-31

In [4]:
df_fifa_data.columns

Index(['id', 'rank', 'country_full', 'country_abrv', 'total_points',
       'previous_points', 'rank_change', 'confederation', 'rank_date'],
      dtype='object')

In [5]:
# Fifa unique countries on the list. 

country_count = len(df_fifa_data["country_full"].unique())
country_count

216

In [21]:
# Fifa rank goes from 1-211 in some instances. Verified in Excel

rank_count = len(df_fifa_data["rank"].unique())
rank_count

211

In [12]:
# Number of confederations in Fifa World Rankings

confederation_count = len(df_fifa_data["confederation"].unique())
confederation_count

6

In [24]:
# Count & Name of every country that's been listed into the database.

df_country_groupby = df_fifa_data.groupby("country_full")
df_country_nunique = df_country_groupby["country_abrv"].nunique()
df_country_nunique

country_full
Afghanistan       1
Albania           1
Algeria           1
American Samoa    1
Andorra           1
                 ..
Yemen             1
Yugoslavia        1
Zaire             1
Zambia            1
Zimbabwe          1
Name: country_abrv, Length: 216, dtype: int64

AFC - Asian Football Confederation
CAF - Confederation of African Football
CONCACAF - Confederation of North, Central America and Caribbean Association Football
CONMEBOL - South American Football Confederation
OFC - Oceania Football Confederation
UEFA - Union of European Football Associations

In [35]:
# Number of national teams in each confederation. 

df_confederation_groupby = df_fifa_data.groupby("confederation")
df_confederation_groupby.nunique()

,id,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
confederation,,,,,,,,,
AFC,46,200,46,46,1125,1122,49,1,308
CAF,55,202,55,55,1282,1268,61,1,308
CONCACAF,36,208,36,36,1127,1124,57,1,308
CONMEBOL,10,129,10,10,992,987,38,1,308
OFC,11,151,11,11,456,458,45,1,308
UEFA,58,211,58,58,1635,1633,52,1,308

In [45]:
df_AFC_average_rank = df_fifa_data[df_fifa_data["confederation"] == "AFC"].mean()
print("AFC")
print(df_AFC_average_rank)
print("----------")

df_CAF_average_rank = df_fifa_data[df_fifa_data["confederation"] == "CAF"].mean()
print("CAF")
print(df_CAF_average_rank)
print("----------")

df_CONCACAF_average_rank = df_fifa_data[df_fifa_data["confederation"] == "CONCACAF"].mean()
print("CONCACAF")
print(df_CONCACAF_average_rank)
print("----------")

df_CONMEBOL_average_rank = df_fifa_data[df_fifa_data["confederation"] == "CONMEBOL"].mean()
print("CONMEBOL")
print(df_OFC_average_rank)
print("----------")

df_OFC_average_rank = df_fifa_data[df_fifa_data["confederation"] == "OFC"].mean()
print("OFC")
print(df_OFC_average_rank)
print("----------")

df_UEFA_average_rank = df_fifa_data[df_fifa_data["confederation"] == "UEFA"].mean()
print("UEFA")
print(df_UEFA_average_rank)
print("----------")

AFC
id                 63858.534597
rank                 125.112752
total_points         293.852945
previous_points      292.971573
rank_change            2.995299
dtype: float64
----------
CAF
id                 72336.853493
rank                 106.993706
total_points         359.992958
previous_points      358.859538
rank_change            3.195551
dtype: float64
----------
CONCACAF
id                 161734.291667
rank                  127.629381
total_points          296.879381
previous_points       296.055977
rank_change             3.134248
dtype: float64
----------
CONMEBOL
id                 43926.500000
rank                  35.365260
total_points         700.000000
previous_points      696.835065
rank_change            2.552273
dtype: float64
----------
OFC
id                 204630.225733
rank                  163.989577
total_points          183.242020
previous_points       182.866775
rank_change             2.447231
dtype: float64
----------
UEFA
id                 77434.245242
rank                  61.303949
total_points         566.521976
previous_points      564.172649
rank_change            2.740686
dtype: float64
----------

In [26]:
df_germany_average_rank = df_fifa_data[df_fifa_data["country_full"] == "Germany"].mean()
df_germany_average_rank

id                 43948.000000
rank                   5.691558
total_points         978.207792
previous_points      973.165584
rank_change            0.805195
dtype: float64

In [27]:
df_france_average_rank = df_fifa_data[df_fifa_data["country_full"] == "France"].mean()
df_france_average_rank

id                 43946.000000
rank                   8.512987
total_points         860.383117
previous_points      855.814935
rank_change            1.181818
dtype: float64

In [29]:
df_usa_average_rank = df_fifa_data[df_fifa_data["country_full"] == "USA"].mean()
df_usa_average_rank

id                 43921.000000
rank                  20.629870
total_points         709.389610
previous_points      706.431818
rank_change            1.967532
dtype: float64

In [30]:
df_brazil_average_rank = df_fifa_data[df_fifa_data["country_full"] == "Brazil"].mean()
df_brazil_average_rank

id                 43924.000000
rank                   3.162338
total_points         990.853896
previous_points      985.704545
rank_change            0.480519
dtype: float64

In [39]:
df_russia_average_rank = df_fifa_data[df_fifa_data["country_full"] == "Russia"].mean()
df_russia_average_rank

id                 43965.000000
rank                  24.454545
total_points         700.321429
previous_points      698.279221
rank_change            2.272727
dtype: float64